In [1]:
import pandas as pd

In [2]:
#Import of the csv file
df = pd.read_csv(r"population_cleaned.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52849 entries, 0 to 52848
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            52849 non-null  int64
 1   Country of origin               52849 non-null  object
 2   Country of origin (ISO)         52849 non-null  object
 3   Country of asylum               52849 non-null  object
 4   Country of asylum (ISO)         52849 non-null  object
 5   Refugees under UNHCR's mandate  52849 non-null  int64
 6   Asylum-seekers                  52849 non-null  int64
 7   IDPs of concern to UNHCR        52849 non-null  int64
dtypes: int64(4), object(4)
memory usage: 3.2+ MB

In [4]:
df['Year'] = df['Year'].astype('object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52849 entries, 0 to 52848
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            52849 non-null  object
 1   Country of origin               52849 non-null  object
 2   Country of origin (ISO)         52849 non-null  object
 3   Country of asylum               52849 non-null  object
 4   Country of asylum (ISO)         52849 non-null  object
 5   Refugees under UNHCR's mandate  52849 non-null  int64
 6   Asylum-seekers                  52849 non-null  int64
 7   IDPs of concern to UNHCR        52849 non-null  int64
dtypes: int64(3), object(5)
memory usage: 3.2+ MB

In [5]:
df.isnull().sum()

Year                              0
Country of origin                 0
Country of origin (ISO)           0
Country of asylum                 0
Country of asylum (ISO)           0
Refugees under UNHCR's mandate    0
Asylum-seekers                    0
IDPs of concern to UNHCR          0
dtype: int64

In [6]:
df.nunique()

Year                                10
Country of origin                  208
Country of origin (ISO)            208
Country of asylum                  185
Country of asylum (ISO)            185
Refugees under UNHCR's mandate    4776
Asylum-seekers                    3763
IDPs of concern to UNHCR           281
dtype: int64

In [8]:
df.sort_values(by="Refugees under UNHCR's mandate", ascending=False).head(10)

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
40703,2021,Syrian Arab Rep.,SYR,Turkiye,TUR,3737369,0,0
35177,2020,Syrian Arab Rep.,SYR,Turkiye,TUR,3641370,0,0
24346,2018,Syrian Arab Rep.,SYR,Turkiye,TUR,3622366,111,0
29742,2019,Syrian Arab Rep.,SYR,Turkiye,TUR,3576370,0,0
46576,2022,Syrian Arab Rep.,SYR,Turkiye,TUR,3535898,0,0
49790,2023,Afghanistan,AFG,Iran,IRN,3431680,0,0
19157,2017,Syrian Arab Rep.,SYR,Turkiye,TUR,3424237,162,0
43884,2022,Afghanistan,AFG,Iran,IRN,3413249,0,0
52440,2023,Syrian Arab Rep.,SYR,Turkiye,TUR,3332896,0,0
14098,2016,Syrian Arab Rep.,SYR,Turkiye,TUR,2823987,180,0

In [28]:
group_by_country = df.groupby("Country of origin")

In [31]:
group_by_country.agg({
    "Refugees under UNHCR's mandate": 'sum',
    "Asylum-seekers": "sum",
    "IDPs of concern to UNHCR": "sum"
}).sort_values(by='Refugees under UNHCR\'s mandate', ascending=False)

,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
Country of origin,,,
Syrian Arab Rep.,60471010,1478712,66024486
Afghanistan,32876720,2729154,23125432
South Sudan,18865939,60254,17319898
Ukraine,12703093,282378,20847002
Myanmar,9598024,459306,6629424
...,...,...,...
Aruba,0,7,0
Micronesia,0,11,0
Holy See,0,46,0
Bermuda,0,56,0
Martinique,0,5,0

In [32]:
group_by_country.agg({
    "Refugees under UNHCR's mandate": 'sum',
    "Asylum-seekers": "sum",
    "IDPs of concern to UNHCR": "sum"
}).sort_values(by='Asylum-seekers', ascending=False)

,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
Country of origin,,,
Venezuela,1048031,5616215,0
Afghanistan,32876720,2729154,23125432
Iraq,3316456,2431139,22173778
Syrian Arab Rep.,60471010,1478712,66024486
Dem. Rep. of the Congo,7369697,1225884,42543338
...,...,...,...
Monaco,30,6,0
Luxembourg,20,5,0
Martinique,0,5,0
Curacao,336,5,0
Cayman Islands,51,0,0

In [33]:
group_by_country.agg({
    "Refugees under UNHCR's mandate": 'sum',
    "Asylum-seekers": "sum",
    "IDPs of concern to UNHCR": "sum"
}).sort_values(by='IDPs of concern to UNHCR', ascending=False)

,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
Country of origin,,,
Colombia,2057002,694161,72604236
Syrian Arab Rep.,60471010,1478712,66024486
Dem. Rep. of the Congo,7369697,1225884,42543338
Yemen,281899,260758,30012477
Sudan,7574921,677320,25545618
...,...,...,...
Italy,784,4575,0
Jamaica,21534,20003,0
Japan,769,1075,0
Jordan,25229,41658,0
Lebanon,55719,80787,0

In [49]:
df[df['Country of origin'] == "Ukraine"].groupby(['Year', 'Country of origin']).agg({
    "Refugees under UNHCR's mandate": 'sum',
    "Asylum-seekers": "sum",
    "IDPs of concern to UNHCR": "sum"
})

,,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
Year,Country of origin,,,
2014,Ukraine,237617,15085,823000
2015,Ukraine,321399,22350,1600000
2016,Ukraine,239062,34638,1800000
2017,Ukraine,139581,37670,1800000
2018,Ukraine,93248,31965,1500002
2019,Ukraine,59844,27991,734000
2020,Ukraine,35156,21426,734000
2021,Ukraine,27562,19426,854000
2022,Ukraine,5684177,34637,5914000
2023,Ukraine,5865447,37190,5088000

In [50]:
import matplotlib.pyplot as plt