In [1]:
import pandas as pd

In [2]:
#Import of the csv file
df = pd.read_csv(r"csv\population.csv")

In [3]:
#First look to our population file
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
0,2014,Afghanistan,AFG,Afghanistan,AFG,0,0,805409,-,0,-,201284
1,2014,Iran (Islamic Rep. of),IRN,Afghanistan,AFG,36,21,0,-,0,-,0
2,2014,Pakistan,PAK,Afghanistan,AFG,300385,33,0,-,0,-,0
3,2014,Tajikistan,TJK,Afghanistan,AFG,0,5,0,-,0,-,0
4,2014,Egypt,EGY,Albania,ALB,5,0,0,-,0,-,0
...,...,...,...,...,...,...,...,...,...,...,...,...
53349,2023,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0,0,0,17000,0,0,0
53350,2023,Aruba,ABW,Aruba,ABW,0,0,0,-,0,1700,0
53351,2023,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,0,0,0,14000,0,0,0
53352,2023,Curacao,CUW,Curacao,CUW,0,0,0,-,0,1700,0
53353,2023,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,131,0,-,0,0,0

In [151]:
#We look for and delete duplicates
df.drop_duplicates()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
0,2014,Afghanistan,AFG,Afghanistan,AFG,0,0,805409,-,0,-,201284
1,2014,Iran (Islamic Rep. of),IRN,Afghanistan,AFG,36,21,0,-,0,-,0
2,2014,Pakistan,PAK,Afghanistan,AFG,300385,33,0,-,0,-,0
3,2014,Tajikistan,TJK,Afghanistan,AFG,0,5,0,-,0,-,0
4,2014,Egypt,EGY,Albania,ALB,5,0,0,-,0,-,0
...,...,...,...,...,...,...,...,...,...,...,...,...
53349,2023,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0,0,0,17000,0,0,0
53350,2023,Aruba,ABW,Aruba,ABW,0,0,0,-,0,1700,0
53351,2023,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,0,0,0,14000,0,0,0
53352,2023,Curacao,CUW,Curacao,CUW,0,0,0,-,0,1700,0
53353,2023,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,131,0,-,0,0,0

In [152]:
#We delete the columns we are not going to need
columns_to_drop = ['Other people in need of international protection', 'Stateless persons', 'Host Community','Others of concern']
df.drop(columns=columns_to_drop, inplace=True)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
0,2014,Afghanistan,AFG,Afghanistan,AFG,0,0,805409
1,2014,Iran (Islamic Rep. of),IRN,Afghanistan,AFG,36,21,0
2,2014,Pakistan,PAK,Afghanistan,AFG,300385,33,0
3,2014,Tajikistan,TJK,Afghanistan,AFG,0,5,0
4,2014,Egypt,EGY,Albania,ALB,5,0,0
...,...,...,...,...,...,...,...,...
53349,2023,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0,0,0
53350,2023,Aruba,ABW,Aruba,ABW,0,0,0
53351,2023,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,0,0,0
53352,2023,Curacao,CUW,Curacao,CUW,0,0,0
53353,2023,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,131,0

In [153]:
#check the countries names to identify those with special characters in them 
countries = df['Country of origin'].unique()
print(countries)

['Afghanistan' 'Iran (Islamic Rep. of)' 'Pakistan' 'Tajikistan' 'Egypt'
 'Azerbaijan' 'China' 'Dem. Rep. of the Congo' 'Palestinian' 'Iraq'
 'Serbia and Kosovo: S/RES/1244 (1999)' 'Syrian Arab Rep.' 'TÃ¼rkiye'
 'Uzbekistan' 'Stateless' 'Burkina Faso' 'Central African Rep.' 'Chad'
 'Cameroon' 'Congo' 'Guinea' "Cote d'Ivoire" 'Liberia' 'Libya' 'Mali'
 'Nigeria' 'Sudan' 'Togo' 'Western Sahara' 'Yemen' 'Burundi' 'Eritrea'
 'Ethiopia' 'Guinea-Bissau' 'Mauritania' 'Rwanda' 'Sierra Leone' 'Somalia'
 'United Rep. of Tanzania' 'Uganda' 'Zambia' 'Algeria' 'Angola' 'Benin'
 'Bangladesh' 'Belarus' 'Djibouti' 'Ghana' 'Kazakhstan' 'Kenya' 'Lebanon'
 'Sri Lanka' 'Madagascar' 'Morocco' 'Myanmar' 'Russian Federation'
 'Senegal' 'South Sudan' 'Turkmenistan' 'Zimbabwe' 'Albania' 'Armenia'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Chile'
 'Colombia' 'Costa Rica' 'Cuba' 'Dominican Rep.' 'Ecuador' 'Georgia'
 'Haiti' 'Honduras' 'Hungary' 'India' 'Kyrgyzstan' 'North Macedonia'
 'Mexico' 'Paraguay' 'Peru' 'Romania' 'South Africa' 'El Salvador'
 'Ukraine' 'United States of America' 'Venezuela (Bolivarian Republic of)'
 'Unknown ' 'Bahrain' 'Belgium' 'Bhutan' 'Brazil' 'Cambodia' 'Czechia'
 'Fiji' 'France' 'Gambia'
 'United Kingdom of Great Britain and Northern Ireland' 'Germany' 'Greece'
 'China, Hong Kong SAR' 'Croatia' 'Indonesia' 'Ireland' 'Israel' 'Italy'
 'Jordan' 'Japan' 'Rep. of Korea' "Dem. People's Rep. of Korea" 'Kuwait'
 "Lao People's Dem. Rep." 'Latvia' 'Rep. of Moldova' 'Maldives' 'Malaysia'
 'Malawi' 'Mongolia' 'Mozambique' 'Mauritius' 'Nepal' 'Nicaragua'
 'New Zealand' 'Philippines' 'Papua New Guinea' 'Poland' 'Saudi Arabia'
 'Singapore' 'Solomon Islands' 'Viet Nam' 'Thailand' 'Timor-Leste' 'Tonga'
 'Tunisia' 'United Arab Emirates' 'Samoa' 'Tibetan' 'Bulgaria' 'Estonia'
 'Guatemala' 'Montenegro' 'Comoros' 'Argentina' 'Equatorial Guinea'
 'Gabon' 'Lithuania' 'Netherlands (Kingdom of the)' 'Niger' 'Namibia'
 'Cabo Verde' 'Guyana' 'Portugal' 'Spain' 'Sao Tome and Principe'
 'Eswatini' 'Antigua and Barbuda' 'Australia' 'Barbados' 'Bahamas'
 'Botswana' 'Belize' 'Denmark' 'Dominica' 'Grenada' 'Jamaica' 'Kiribati'
 'Saint Lucia' 'Lesotho' 'Norway' 'Oman' 'Panama' 'Qatar' 'Seychelles'
 'Saint Kitts and Nevis' 'Suriname' 'Slovakia' 'Slovenia' 'Sweden'
 'Switzerland' 'Trinidad and Tobago' 'Uruguay'
 'Saint Vincent and the Grenadines' 'Cyprus' 'Canada' 'Monaco' 'Iceland'
 'China, Macao SAR' 'Andorra' 'Austria' 'Cayman Islands' 'Finland'
 'Marshall Islands' 'Niue' 'Turks and Caicos Islands' 'Guadeloupe'
 'Curacao ' 'Brunei Darussalam' 'Malta' 'Micronesia (Federated States of)'
 'Vanuatu' 'French Guiana' 'Palau' 'Luxembourg' 'Nauru' 'Holy See'
 'Liechtenstein' 'Anguilla' 'Martinique' 'Aruba' 'Bermuda']

In [154]:
#deviding the countries with details written among parenthesis and renaming the columns
df[["Country_of_origin", "details_to_delete"]] = df['Country of origin'].str.split("(", n=1, expand=True)
df[["Country_of_asylum", "details_to_delete_asylum"]] = df['Country of asylum'].str.split("(", n=1, expand=True)

In [155]:
#swapping the new country of origin column's position with the old one's
column1 = 'Country of origin'
column2 = 'Country_of_origin'
column3 = 'Country of asylum'
column4 = 'Country_of_asylum'


position1 = df.columns.get_loc(column1)
position2 = df.columns.get_loc(column2)
position1 = df.columns.get_loc(column3)
position2 = df.columns.get_loc(column4)


df = df[[
    col if col != column1 and col != column2 else
    column2 if col == column1 else
    column1
    for col in df.columns
]]

df = df[[
    col if col != column3 and col != column4 else
    column4 if col == column3 else
    column3
    for col in df.columns
]]

In [156]:
#deleting the last columns
new_columns_to_delete = ["Country of origin", "details_to_delete", 'Country of asylum', "details_to_delete_asylum"]
df.drop(columns=new_columns_to_delete, inplace=True)

In [158]:
#renaming the column so it would have its original name
df.rename(columns = {'Country_of_origin' : "Country of origin", 'Country_of_asylum' : 'Country of asylum'}, inplace=True)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
0,2014,Afghanistan,AFG,Afghanistan,AFG,0,0,805409
1,2014,Iran,IRN,Afghanistan,AFG,36,21,0
2,2014,Pakistan,PAK,Afghanistan,AFG,300385,33,0
3,2014,Tajikistan,TJK,Afghanistan,AFG,0,5,0
4,2014,Egypt,EGY,Albania,ALB,5,0,0
...,...,...,...,...,...,...,...,...
53349,2023,Venezuela,VEN,Aruba,ABW,0,0,0
53350,2023,Aruba,ABW,Aruba,ABW,0,0,0
53351,2023,Venezuela,VEN,Curacao,CUW,0,0,0
53352,2023,Curacao,CUW,Curacao,CUW,0,0,0
53353,2023,Venezuela,VEN,Sint Maarten,SXM,0,131,0

In [159]:
#Trim whitespace from ends of each value across all series in dataframe
def trim_all_columns(df):
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)
df = trim_all_columns(df)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
0,2014,Afghanistan,AFG,Afghanistan,AFG,0,0,805409
1,2014,Iran,IRN,Afghanistan,AFG,36,21,0
2,2014,Pakistan,PAK,Afghanistan,AFG,300385,33,0
3,2014,Tajikistan,TJK,Afghanistan,AFG,0,5,0
4,2014,Egypt,EGY,Albania,ALB,5,0,0
...,...,...,...,...,...,...,...,...
53349,2023,Venezuela,VEN,Aruba,ABW,0,0,0
53350,2023,Aruba,ABW,Aruba,ABW,0,0,0
53351,2023,Venezuela,VEN,Curacao,CUW,0,0,0
53352,2023,Curacao,CUW,Curacao,CUW,0,0,0
53353,2023,Venezuela,VEN,Sint Maarten,SXM,0,131,0

In [160]:
countries2 = df['Country of origin'].unique()
print(countries2)

['Afghanistan' 'Iran' 'Pakistan' 'Tajikistan' 'Egypt' 'Azerbaijan' 'China'
 'Dem. Rep. of the Congo' 'Palestinian' 'Iraq'
 'Serbia and Kosovo: S/RES/1244' 'Syrian Arab Rep.' 'TÃ¼rkiye' 'Uzbekistan'
 'Stateless' 'Burkina Faso' 'Central African Rep.' 'Chad' 'Cameroon'
 'Congo' 'Guinea' "Cote d'Ivoire" 'Liberia' 'Libya' 'Mali' 'Nigeria'
 'Sudan' 'Togo' 'Western Sahara' 'Yemen' 'Burundi' 'Eritrea' 'Ethiopia'
 'Guinea-Bissau' 'Mauritania' 'Rwanda' 'Sierra Leone' 'Somalia'
 'United Rep. of Tanzania' 'Uganda' 'Zambia' 'Algeria' 'Angola' 'Benin'
 'Bangladesh' 'Belarus' 'Djibouti' 'Ghana' 'Kazakhstan' 'Kenya' 'Lebanon'
 'Sri Lanka' 'Madagascar' 'Morocco' 'Myanmar' 'Russian Federation'
 'Senegal' 'South Sudan' 'Turkmenistan' 'Zimbabwe' 'Albania' 'Armenia'
 'Bolivia' 'Bosnia and Herzegovina' 'Chile' 'Colombia' 'Costa Rica' 'Cuba'
 'Dominican Rep.' 'Ecuador' 'Georgia' 'Haiti' 'Honduras' 'Hungary' 'India'
 'Kyrgyzstan' 'North Macedonia' 'Mexico' 'Paraguay' 'Peru' 'Romania'
 'South Africa' 'El Salvador' 'Ukraine' 'United States of America'
 'Venezuela' 'Unknown' 'Bahrain' 'Belgium' 'Bhutan' 'Brazil' 'Cambodia'
 'Czechia' 'Fiji' 'France' 'Gambia'
 'United Kingdom of Great Britain and Northern Ireland' 'Germany' 'Greece'
 'China, Hong Kong SAR' 'Croatia' 'Indonesia' 'Ireland' 'Israel' 'Italy'
 'Jordan' 'Japan' 'Rep. of Korea' "Dem. People's Rep. of Korea" 'Kuwait'
 "Lao People's Dem. Rep." 'Latvia' 'Rep. of Moldova' 'Maldives' 'Malaysia'
 'Malawi' 'Mongolia' 'Mozambique' 'Mauritius' 'Nepal' 'Nicaragua'
 'New Zealand' 'Philippines' 'Papua New Guinea' 'Poland' 'Saudi Arabia'
 'Singapore' 'Solomon Islands' 'Viet Nam' 'Thailand' 'Timor-Leste' 'Tonga'
 'Tunisia' 'United Arab Emirates' 'Samoa' 'Tibetan' 'Bulgaria' 'Estonia'
 'Guatemala' 'Montenegro' 'Comoros' 'Argentina' 'Equatorial Guinea'
 'Gabon' 'Lithuania' 'Netherlands' 'Niger' 'Namibia' 'Cabo Verde' 'Guyana'
 'Portugal' 'Spain' 'Sao Tome and Principe' 'Eswatini'
 'Antigua and Barbuda' 'Australia' 'Barbados' 'Bahamas' 'Botswana'
 'Belize' 'Denmark' 'Dominica' 'Grenada' 'Jamaica' 'Kiribati'
 'Saint Lucia' 'Lesotho' 'Norway' 'Oman' 'Panama' 'Qatar' 'Seychelles'
 'Saint Kitts and Nevis' 'Suriname' 'Slovakia' 'Slovenia' 'Sweden'
 'Switzerland' 'Trinidad and Tobago' 'Uruguay'
 'Saint Vincent and the Grenadines' 'Cyprus' 'Canada' 'Monaco' 'Iceland'
 'China, Macao SAR' 'Andorra' 'Austria' 'Cayman Islands' 'Finland'
 'Marshall Islands' 'Niue' 'Turks and Caicos Islands' 'Guadeloupe'
 'Curacao' 'Brunei Darussalam' 'Malta' 'Micronesia' 'Vanuatu'
 'French Guiana' 'Palau' 'Luxembourg' 'Nauru' 'Holy See' 'Liechtenstein'
 'Anguilla' 'Martinique' 'Aruba' 'Bermuda']

In [161]:
#deleting rows with country of origin Unknown
unknownfilt = df['Country of origin'] == "Unknown"
df.drop(index=df[unknownfilt].index, inplace=True)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR
0,2014,Afghanistan,AFG,Afghanistan,AFG,0,0,805409
1,2014,Iran,IRN,Afghanistan,AFG,36,21,0
2,2014,Pakistan,PAK,Afghanistan,AFG,300385,33,0
3,2014,Tajikistan,TJK,Afghanistan,AFG,0,5,0
4,2014,Egypt,EGY,Albania,ALB,5,0,0
...,...,...,...,...,...,...,...,...
53349,2023,Venezuela,VEN,Aruba,ABW,0,0,0
53350,2023,Aruba,ABW,Aruba,ABW,0,0,0
53351,2023,Venezuela,VEN,Curacao,CUW,0,0,0
53352,2023,Curacao,CUW,Curacao,CUW,0,0,0
53353,2023,Venezuela,VEN,Sint Maarten,SXM,0,131,0

In [165]:
replace_dict = {
    'TÃ¼rkiye': 'Turkiye',
    'Serbia and Kosovo: S/RES/1244': 'Serbia and Kosovo',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
}
df['Country of origin'] = df['Country of origin'].replace(replace_dict)
df['Country of asylum'] = df['Country of asylum'].replace(replace_dict)

In [166]:
countries3 = df['Country of origin'].unique()
print(countries3)

['Afghanistan' 'Iran' 'Pakistan' 'Tajikistan' 'Egypt' 'Azerbaijan' 'China'
 'Dem. Rep. of the Congo' 'Palestinian' 'Iraq' 'Serbia and Kosovo'
 'Syrian Arab Rep.' 'Turkiye' 'Uzbekistan' 'Stateless' 'Burkina Faso'
 'Central African Rep.' 'Chad' 'Cameroon' 'Congo' 'Guinea' "Cote d'Ivoire"
 'Liberia' 'Libya' 'Mali' 'Nigeria' 'Sudan' 'Togo' 'Western Sahara'
 'Yemen' 'Burundi' 'Eritrea' 'Ethiopia' 'Guinea-Bissau' 'Mauritania'
 'Rwanda' 'Sierra Leone' 'Somalia' 'United Rep. of Tanzania' 'Uganda'
 'Zambia' 'Algeria' 'Angola' 'Benin' 'Bangladesh' 'Belarus' 'Djibouti'
 'Ghana' 'Kazakhstan' 'Kenya' 'Lebanon' 'Sri Lanka' 'Madagascar' 'Morocco'
 'Myanmar' 'Russian Federation' 'Senegal' 'South Sudan' 'Turkmenistan'
 'Zimbabwe' 'Albania' 'Armenia' 'Bolivia' 'Bosnia and Herzegovina' 'Chile'
 'Colombia' 'Costa Rica' 'Cuba' 'Dominican Rep.' 'Ecuador' 'Georgia'
 'Haiti' 'Honduras' 'Hungary' 'India' 'Kyrgyzstan' 'North Macedonia'
 'Mexico' 'Paraguay' 'Peru' 'Romania' 'South Africa' 'El Salvador'
 'Ukraine' 'United States of America' 'Venezuela' 'Bahrain' 'Belgium'
 'Bhutan' 'Brazil' 'Cambodia' 'Czechia' 'Fiji' 'France' 'Gambia'
 'United Kingdom' 'Germany' 'Greece' 'China, Hong Kong SAR' 'Croatia'
 'Indonesia' 'Ireland' 'Israel' 'Italy' 'Jordan' 'Japan' 'Rep. of Korea'
 "Dem. People's Rep. of Korea" 'Kuwait' "Lao People's Dem. Rep." 'Latvia'
 'Rep. of Moldova' 'Maldives' 'Malaysia' 'Malawi' 'Mongolia' 'Mozambique'
 'Mauritius' 'Nepal' 'Nicaragua' 'New Zealand' 'Philippines'
 'Papua New Guinea' 'Poland' 'Saudi Arabia' 'Singapore' 'Solomon Islands'
 'Viet Nam' 'Thailand' 'Timor-Leste' 'Tonga' 'Tunisia'
 'United Arab Emirates' 'Samoa' 'Tibetan' 'Bulgaria' 'Estonia' 'Guatemala'
 'Montenegro' 'Comoros' 'Argentina' 'Equatorial Guinea' 'Gabon'
 'Lithuania' 'Netherlands' 'Niger' 'Namibia' 'Cabo Verde' 'Guyana'
 'Portugal' 'Spain' 'Sao Tome and Principe' 'Eswatini'
 'Antigua and Barbuda' 'Australia' 'Barbados' 'Bahamas' 'Botswana'
 'Belize' 'Denmark' 'Dominica' 'Grenada' 'Jamaica' 'Kiribati'
 'Saint Lucia' 'Lesotho' 'Norway' 'Oman' 'Panama' 'Qatar' 'Seychelles'
 'Saint Kitts and Nevis' 'Suriname' 'Slovakia' 'Slovenia' 'Sweden'
 'Switzerland' 'Trinidad and Tobago' 'Uruguay'
 'Saint Vincent and the Grenadines' 'Cyprus' 'Canada' 'Monaco' 'Iceland'
 'China, Macao SAR' 'Andorra' 'Austria' 'Cayman Islands' 'Finland'
 'Marshall Islands' 'Niue' 'Turks and Caicos Islands' 'Guadeloupe'
 'Curacao' 'Brunei Darussalam' 'Malta' 'Micronesia' 'Vanuatu'
 'French Guiana' 'Palau' 'Luxembourg' 'Nauru' 'Holy See' 'Liechtenstein'
 'Anguilla' 'Martinique' 'Aruba' 'Bermuda']

In [167]:
df.to_csv("population_cleaned.csv", index=False)