In [1]:
import pandas as pd

In [2]:
#Import of the csv file
df = pd.read_csv(r"csv\demographics.csv")

In [3]:
#First look to our population file
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Accommodation type,Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,...,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,C,5,0,0,0,...,0,5,0,0,0,0,0,0,0,5
1,2012,Serbia and Kosovo: S/RES/1244 (1999),SRB,Albania,ALB,C,0,0,0,12,...,0,12,0,0,6,18,0,0,24,36
2,2012,Congo,COG,Armenia,ARM,C,5,0,0,0,...,0,5,0,0,0,0,0,0,0,5
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,C,0,0,0,0,...,0,0,0,0,0,6,0,0,6,6
4,2012,Iran (Islamic Rep. of),IRN,Armenia,ARM,C,0,0,0,5,...,0,5,0,0,6,10,0,0,16,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27389
61264,2022,Venezuela (Bolivarian Republic of),VEN,Saint Vincent and the Grenadines,VCT,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
61265,2022,Haiti,HTI,Anguilla,AIA,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
61266,2022,Venezuela (Bolivarian Republic of),VEN,Anguilla,AIA,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25
61267,2022,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,122

In [18]:
#check name of all columns
df.columns

Index(['Year', 'Country of origin', 'Country of origin (ISO)',
       'Country of asylum', 'Country of asylum (ISO)', 'Accommodation type',
       'Female 0 - 4', 'Female 5 - 11', 'Female 12 - 17', 'Female 18 - 59',
       'Female 60', 'Female other', 'Female total', 'Male 0 - 4',
       'Male 5 - 11', 'Male 12 - 17', 'Male 18 - 59', 'Male 60', 'Male other',
       'Male total', 'Total'],
      dtype='object')

In [19]:
#We look for and delete duplicates
df.drop_duplicates()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Accommodation type,Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,...,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,C,5,0,0,0,...,0,5,0,0,0,0,0,0,0,5
1,2012,Serbia and Kosovo: S/RES/1244 (1999),SRB,Albania,ALB,C,0,0,0,12,...,0,12,0,0,6,18,0,0,24,36
2,2012,Congo,COG,Armenia,ARM,C,5,0,0,0,...,0,5,0,0,0,0,0,0,0,5
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,C,0,0,0,0,...,0,0,0,0,0,6,0,0,6,6
4,2012,Iran (Islamic Rep. of),IRN,Armenia,ARM,C,0,0,0,5,...,0,5,0,0,6,10,0,0,16,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27389
61264,2022,Venezuela (Bolivarian Republic of),VEN,Saint Vincent and the Grenadines,VCT,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
61265,2022,Haiti,HTI,Anguilla,AIA,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
61266,2022,Venezuela (Bolivarian Republic of),VEN,Anguilla,AIA,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25
61267,2022,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,U,0,0,0,0,...,0,0,0,0,0,0,0,0,0,122

In [20]:
#We delete the columns we are not going to need
columns_to_drop = ['Accommodation type', 'Female total', 'Male total', 'Total']
df.drop(columns=columns_to_drop, inplace=True)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,5,0,0,0,0,0,0,0,0,0,0,0
1,2012,Serbia and Kosovo: S/RES/1244 (1999),SRB,Albania,ALB,0,0,0,12,0,0,0,0,6,18,0,0
2,2012,Congo,COG,Armenia,ARM,5,0,0,0,0,0,0,0,0,0,0,0
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,0,0,0,0,0,0,0,0,0,6,0,0
4,2012,Iran (Islamic Rep. of),IRN,Armenia,ARM,0,0,0,5,0,0,0,0,6,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,0,0,0,0,0,0,0,0,0,0,0,0
61264,2022,Venezuela (Bolivarian Republic of),VEN,Saint Vincent and the Grenadines,VCT,0,0,0,0,0,0,0,0,0,0,0,0
61265,2022,Haiti,HTI,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61266,2022,Venezuela (Bolivarian Republic of),VEN,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61267,2022,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
#deviding the countries with details written among parenthesis and renaming the columns
df[["Country_of_origin", "details_to_delete"]] = df['Country of origin'].str.split("(", n=1, expand=True)
df[["Country_of_asylum", "details_to_delete_asylum"]] = df['Country of asylum'].str.split("(", n=1, expand=True)

In [22]:
#swapping the new country of origin column's position with the old one's
column1 = 'Country of origin'
column2 = 'Country_of_origin'
column3 = 'Country of asylum'
column4 = 'Country_of_asylum'


position1 = df.columns.get_loc(column1)
position2 = df.columns.get_loc(column2)
position1 = df.columns.get_loc(column3)
position2 = df.columns.get_loc(column4)


df = df[[
    col if col != column1 and col != column2 else
    column2 if col == column1 else
    column1
    for col in df.columns
]]

df = df[[
    col if col != column3 and col != column4 else
    column4 if col == column3 else
    column3
    for col in df.columns
]]

In [23]:
#deleting the last columns
new_columns_to_delete = ["Country of origin", "details_to_delete", 'Country of asylum', "details_to_delete_asylum"]
df.drop(columns=new_columns_to_delete, inplace=True)

In [24]:
#renaming the column so it would have its original name
df.rename(columns = {'Country_of_origin' : "Country of origin", 'Country_of_asylum' : 'Country of asylum'}, inplace=True)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,5,0,0,0,0,0,0,0,0,0,0,0
1,2012,Serbia and Kosovo: S/RES/1244,SRB,Albania,ALB,0,0,0,12,0,0,0,0,6,18,0,0
2,2012,Congo,COG,Armenia,ARM,5,0,0,0,0,0,0,0,0,0,0,0
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,0,0,0,0,0,0,0,0,0,6,0,0
4,2012,Iran,IRN,Armenia,ARM,0,0,0,5,0,0,0,0,6,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,0,0,0,0,0,0,0,0,0,0,0,0
61264,2022,Venezuela,VEN,Saint Vincent and the Grenadines,VCT,0,0,0,0,0,0,0,0,0,0,0,0
61265,2022,Haiti,HTI,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61266,2022,Venezuela,VEN,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61267,2022,Venezuela,VEN,Sint Maarten,SXM,0,0,0,0,0,0,0,0,0,0,0,0

In [25]:
#Trim whitespace from ends of each value across all series in dataframe
def trim_all_columns(df):
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)
df = trim_all_columns(df)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,5,0,0,0,0,0,0,0,0,0,0,0
1,2012,Serbia and Kosovo: S/RES/1244,SRB,Albania,ALB,0,0,0,12,0,0,0,0,6,18,0,0
2,2012,Congo,COG,Armenia,ARM,5,0,0,0,0,0,0,0,0,0,0,0
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,0,0,0,0,0,0,0,0,0,6,0,0
4,2012,Iran,IRN,Armenia,ARM,0,0,0,5,0,0,0,0,6,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,0,0,0,0,0,0,0,0,0,0,0,0
61264,2022,Venezuela,VEN,Saint Vincent and the Grenadines,VCT,0,0,0,0,0,0,0,0,0,0,0,0
61265,2022,Haiti,HTI,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61266,2022,Venezuela,VEN,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61267,2022,Venezuela,VEN,Sint Maarten,SXM,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
#deleting rows with country of origin Unknown
unknownfilt = df['Country of origin'] == "Unknown"
df.drop(index=df[unknownfilt].index, inplace=True)
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,5,0,0,0,0,0,0,0,0,0,0,0
1,2012,Serbia and Kosovo: S/RES/1244,SRB,Albania,ALB,0,0,0,12,0,0,0,0,6,18,0,0
2,2012,Congo,COG,Armenia,ARM,5,0,0,0,0,0,0,0,0,0,0,0
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,0,0,0,0,0,0,0,0,0,6,0,0
4,2012,Iran,IRN,Armenia,ARM,0,0,0,5,0,0,0,0,6,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,0,0,0,0,0,0,0,0,0,0,0,0
61264,2022,Venezuela,VEN,Saint Vincent and the Grenadines,VCT,0,0,0,0,0,0,0,0,0,0,0,0
61265,2022,Haiti,HTI,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61266,2022,Venezuela,VEN,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61267,2022,Venezuela,VEN,Sint Maarten,SXM,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
replace_dict = {
    'Türkiye': 'Turkiye',
    'Serbia and Kosovo: S/RES/1244': 'Serbia and Kosovo',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
}

In [36]:
df['Country of origin'] = df['Country of origin'].replace(replace_dict)
df['Country of asylum'] = df['Country of asylum'].replace(replace_dict)

In [37]:
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other
0,2012,Dem. Rep. of the Congo,COD,Albania,ALB,5,0,0,0,0,0,0,0,0,0,0,0
1,2012,Serbia and Kosovo,SRB,Albania,ALB,0,0,0,12,0,0,0,0,6,18,0,0
2,2012,Congo,COG,Armenia,ARM,5,0,0,0,0,0,0,0,0,0,0,0
3,2012,Cote d'Ivoire,CIV,Armenia,ARM,0,0,0,0,0,0,0,0,0,6,0,0
4,2012,Iran,IRN,Armenia,ARM,0,0,0,5,0,0,0,0,6,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61263,2022,Stateless,XXA,Uzbekistan,UZB,0,0,0,0,0,0,0,0,0,0,0,0
61264,2022,Venezuela,VEN,Saint Vincent and the Grenadines,VCT,0,0,0,0,0,0,0,0,0,0,0,0
61265,2022,Haiti,HTI,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61266,2022,Venezuela,VEN,Anguilla,AIA,0,0,0,0,0,0,0,0,0,0,0,0
61267,2022,Venezuela,VEN,Sint Maarten,SXM,0,0,0,0,0,0,0,0,0,0,0,0

In [38]:
df.to_csv("demographics_cleaned.csv", index=False)